<% //'Login form with transition to display' %>
<div ng-controller="LoginController"
     ng-class="{ starting: true }"
     class="login-container"> 

    <div class="login-content">
          
        <% if( conference.logo ) { %>
        <img src="<%= conference.logo %>"
             class="responsive-img"
             width="200"/>
        <% } %>

        <ul class="tabs">
            <li class="tab">
                <a class="active" ng-click="user.need_account=false" >
                    <%= __('login.form.connection') %>
                </a>
            </li>
            <li class="tab">
                <a ng-click="user.need_account=true">
                    <%= __('login.form.register') %>
                </a>
            </li>
        </ul>
        
        <div class="grey-tile">
            <p>
                <i class="small mdi-action-info prefix"></i>
                    <%= __('login.form.email_info') %>
            </p>
        </div>
 
        <form id="login" name="login">

            <div class="row">
                <div class="input-field col s12">
                    <i class="mdi-communication-email prefix"></i>
                    <input id="email"
                           name="email"
                           ng-model="user.mail"
                           ng-pattern="/^[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Za-z]{2,4}$/"
                           ng-class="{
                                invalid: (
                                            login.email.$viewValue &&
                                            !login.email.$valid ||
                                            user.exist &&
                                            user.need_account
                                        ),
                                valid: ( 
                                            user.mail &&
                                            login.email.$valid &&
                                            !(
                                                user.exist &&
                                                user.need_account
                                            )
                                        )
                           }"
                           ng-change="reset()"
                           ng-disabled="request_send"
                           type="text"
                           required>

                    <label for="email">
                      <%= __('login.form.enter_email') %>
                    </label>
                </div>
            </div>

            <div class="row">
                <div class="input-field col s12">
                    <i class="mdi-action-https prefix"></i>
                     <input id="password"
                               name="password"
                               ng-model="user.password"
                               ng-class="{ 
                                    invalid: ( 
                                                user.password &&
                                                user.password.length < 6 ||
                                                user.wrong
                                            ),
                                    valid: (
                                                user.password.length >= 6 &&
                                                !user.wrong
                                            )
                               }"
                               ng-change="reset()"
                               ng-disabled="request_send"
                               type="password"
                               required>

                        <label for="password">
                            <%= __('login.form.enter_password') %>
                        </label>
                </div>
            </div>

            <div class="row">
                <div class="input-field col s12 animate-show" ng-show="user.need_account">
                    <i class="mdi-action-done prefix"></i>
                    <input id="confirm_password"
                           name="confirm_password"
                           ng-model="user.confirm"
                           ng-class="{ 
                                invalid: ( 
                                            user.confirm &&
                                            (
                                                user.confirm !== user.password ||
                                                user.confirm.length < 6
                                            )
                                        ),
                                valid: ( 
                                            user.confirm === user.password &&
                                            user.confirm.length >= 6
                                        )
                           }"
                           ng-change="reset()"
                           ng-disabled="request_send"
                           type="password"
                           required>

                    <label for="confirm_password">
                        <%= __('login.form.confirm_password') %>
                    </label>

                </div>
            </div>

            <div class="row">
                <div class="input-field col s12">
                    <div class="checkbox-item">
                      <input id="checkbox-login"
                             name="cgu"
                             ng-model="cgu"
                             ng-disabled="request_send"
                             type="checkbox">

                      <label for="checkbox-login">
                          <%- __('login.form.accept_cgu') %>
                      </label>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="input-field col s12">
                    <div class="connexion-btn">
                        <a class="waves-effect waves-light btn" ng-class="{
                                disabled:        disabled(),
                                'waves-effect': !disabled()
                           }"
                           ng-click="processed()">
                           <i class="mdi-action-lock-open right"></i>{{
                                user.need_account ?
                                "<%= __('login.form.register') %>" :
                                "<%= __('login.form.connection') %>"
                            }}
                        </a>
                    </div>
                </div>
            </div>

            <% //'Progressbar' %>

            <div class="overflow" ng-show="request_send">

                <div class="full-height valign-wrapper">
                    <div class="valign">

                        <div class="preloader-wrapper big active">

                            <div class="spinner-layer spinner-blue">
                                <div class="circle-clipper left">
                                    <div class="circle"></div>
                                    </div><div class="gap-patch">
                                    <div class="circle"></div>
                                    </div><div class="circle-clipper right">
                                    <div class="circle"></div>
                                </div>
                            </div>

                            <div class="spinner-layer spinner-red">
                                <div class="circle-clipper left">
                                    <div class="circle"></div>
                                    </div><div class="gap-patch">
                                    <div class="circle"></div>
                                    </div><div class="circle-clipper right">
                                    <div class="circle"></div>
                                </div>
                            </div>

                            <div class="spinner-layer spinner-yellow">
                                <div class="circle-clipper left">
                                    <div class="circle"></div>
                                    </div><div class="gap-patch">
                                    <div class="circle"></div>
                                    </div><div class="circle-clipper right">
                                    <div class="circle"></div>
                                </div>
                            </div>

                            <div class="spinner-layer spinner-green">
                                <div class="circle-clipper left">
                                    <div class="circle"></div>
                                    </div><div class="gap-patch">
                                    <div class="circle"></div>
                                    </div><div class="circle-clipper right">
                                    <div class="circle"></div>
                                </div>
                            </div>

                        </div>

                    </div>
                </div>

            </div>

        </form>

    </div>
</div>
