<div ng-controller="loginController" class="row login-container">  

    <div class="tiles white no-padding">
        
        <img src="<%= conference.logo %>"
             class="client_logo p-t-30"
             width="200"/>
        
        <div class="p-l-40 p-b-20 xs-p-t-10 xs-p-l-10 xs-p-b-10"> 
            <h3 class="normal">
                <%= __('login.title') %>
            </h3>
            <p class="p-b-20">
                <%= conference.description %>
            </p>
        </div>
        
        <div class="tiles grey text-black">
            <form id="frm_login"
                  name="frm_login" 
                  ng-class="{'login-step1' : s === 1,
                             'login-step2' : s === 2,
                             'login-step3' : s === 3,
                             'newuser' : user.newuser }"
                  ng-keypress="$event.keyCode === 13 || $event.keyCode === 9 ? next() : null"
                  novalidate>

                <div class="login-steps" >
                    <div class="login-steps-wrapper">
                        <div id="step_email">
                            <h4 class="p-l-20 p-r-20 m-b-25 m-t-20">
                                <i class="fa fa-info-circle fa-2x"></i>
                                <%= __('login.your_email') %>
                            </h4>

                            <div class="col-md-12 col-sm-12">
                                <label>
                                    <%= __('login.form.enter_email') %>
                                    <span ng-show="frm_login.login_email.$error.pattern"
                                          class="error pull-right">
                                        <%= __('login.form.enter_email_error') %>
                                    </span>
                                </label>

                                 <input ng-model="user.mail"
                                        ng-model-options="{ updateOn: none }"
                                        ng-pattern="/^[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Za-z]{2,4}$/"
                                        it-blur="s !== 1"
                                        id="login_email"
                                        name="login_email" 
                                        type="email" 
                                        class="form-control"
                                        placeholder="john.smith@mail.com" required>
                            
                            </div>
                        </div>

                        <div id="step_password">
                            <h4 ng-show="user.newuser" class="p-l-20 p-r-20 m-b-25 m-t-20">
                                <i class="fa fa-users fa-2x"></i>
                                <%= __('login.your_email_is_unknown') %>
                            </h4>
                            <h4 ng-show="!user.newuser" class="p-l-20 p-r-20 m-b-25 m-t-20">
                                <i class="fa fa-users fa-2x"></i>
                                <%= __('login.your_email_is_known') %>
                            </h4>
                            
                            <div class="col-md-12">
                                <label ng-show="user.newuser">
                                    <%= __('login.form.enter_new_password') %>
                                    <span ng-show="frm_login.login_pass.$error.minlength"
                                          class="error pull-right">
                                        <%= __('login.form.enter_new_password_error') %>
                                    </span>
                                </label>

                                <label ng-show="!user.newuser">
                                    <%= __('login.form.enter_password') %>
                                    <span ng-show="wrpass"
                                          class="error pull-right">
                                        <%= __('login.form.enter_password_error') %>
                                    </span>
                                </label>

                                 <input ng-model="user.password"
                                        ng-keypress="!user.newuser && ($event.keyCode === 13 || $event.keyCode === 9) ? next() : null"
                                        it-blur="s !== 2"
                                        id="login_pass"
                                        name="login_pass"
                                        type="password"
                                        class="form-control"
                                        placeholder="********" minlength=6 required>
                            </div>

                            <div class="col-md-12 m-t-10" ng-show="user.newuser">
                                <label>
                                    <%= __('login.form.confirm_password') %>
                                    <span ng-show="frm_login.login_pass_c.$dirty && user.password !== user.password_c"
                                          class="error pull-right">
                                        <%= __('login.form.confirm_password_error') %>
                                    </span>
                                </label>
                                 <input ng-model="user.password_c"
                                        ng-keypress="$event.keyCode === 13 || $event.keyCode === 9 ? next() : null"
                                        it-blur="s !== 2"
                                        id="login_pass_c" 
                                        name="login_pass_c"
                                        type="password"
                                        class="form-control col-md-12"
                                        placeholder="********" minlength=6 required>
                            </div>
                        </div>

                        <div id="step_terms">
                            <h4 class="p-l-20 p-r-20 m-b-25 m-t-20">
                                <i class="fa fa-thumbs-o-up fa-2x p-r-5"></i>
                                <%= __('login.form.accept_cgu_please') %>
                            </h4>

                            <div class="control-group col-md-12 m-t-20 text-center">
                                <div class="checkbox check-success">
                                    <input ng-model="user.cgu"
                                           it-blur="s !== 3"
                                           type="checkbox"
                                           id="login_terms"
                                           value="1">

                                    <label for="login_terms">
                                        <%= __('login.form.accept_cgu') %>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="steps-controller">
                    <div class="previous-step">
                        <button ng-click="previous()"
                                id="login_prev"
                                type="button" 
                                class="btn btn-default btn-block btn-cons">

                            <i class="fa fa-arrow-left m-r-10"></i> <%= __('login.form.previous') %>
                        </button>
                    </div>

                    <div class="next-step">
                        <button ng-click="next()"
                                id="login_next"
                                type="button"
                                class="btn btn-primary btn-block btn-cons">

                            {{ s === 3 ? '<%= __('login.form.connection') %>' : '<%= __('login.form.next') %>' }} <i class="fa fa-arrow-right m-l-10"></i>
                        </button>
                    </div>
                </div>
                <div class="clear"></div>
            </form>
        </div>   
    </div>   
</div>