<% include connection-bar %>

<% //'Login form with transition to display' %>
<div ng-controller="LoginController"
     ng-class="{ starting: true }"
     ng-init="user.mail = '<%= mail %>'"
     class="login-container valign-wrapper" > 
    
    <div class="container custom">
        <div class="row valign">

            <div class="col s12 m6 login-info-block hide-on-small-only">
                <h4><%= informations.name %></h4>
                
                <p class="infos">
                    <i class="small mdi-action-info prefix left"></i>
                    <%= __('login.form.email_info') %>
                </p>
                
                <p class="desc">
                    <%= informations.description %>
                </p>

                <div class="center-align">
                    <a class="waves-effect waves-light btn btn-large cyan" >
                        <i class="mdi-action-search left"></i>
                        <%= __('login.form.change_conference') %>
                    </a>
                </div>
            </div>

            <div class="col s12 m5 offset-m1">
                <div class="login-content">

                    <ul class="tabs">
                        <li class="tab">
                            <a class="active" ng-click="user.need_account=false" >
                                <%= __('login.form.connection') %>
                            </a>
                        </li>
                        <li class="tab">
                            <a ng-click="user.need_account=true">
                                <%= __('login.form.register') %>
                            </a>
                        </li>
                    </ul>
                    
                    <form id="login" name="login">

                        <div class="row">
                            <div class="input-field col s12">
                                <i class="mdi-communication-email prefix"></i>
                                <input id="email"
                                       name="email"
                                       ng-model="user.mail"
                                       ng-pattern="/^[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Za-z]{2,4}$/"
                                       ng-class="{
                                            invalid: (
                                                        login.email.$viewValue &&
                                                        !login.email.$valid ||
                                                        user.exist &&
                                                        user.need_account
                                                    ),
                                            valid: ( 
                                                        user.mail &&
                                                        login.email.$valid &&
                                                        !(
                                                            user.exist &&
                                                            user.need_account
                                                        )
                                                    )
                                       }"
                                       ng-change="reset()"
                                       ng-disabled="request_send"
                                       type="text"
                                       required>

                                <label for="email">
                                  <%= __('login.form.enter_email') %>
                                </label>
                            </div>
                        </div>

                        <div class="row">
                            <div class="input-field col s12">
                                <i class="mdi-action-https prefix"></i>
                                 <input id="password"
                                           name="password"
                                           ng-model="user.password"
                                           ng-class="{ 
                                                invalid: ( 
                                                            user.password &&
                                                            user.password.length < 6 ||
                                                            user.wrong
                                                        ),
                                                valid: (
                                                            user.password.length >= 6 &&
                                                            !user.wrong
                                                        )
                                           }"
                                           ng-change="reset()"
                                           ng-disabled="request_send"
                                           type="password"
                                           required>

                                    <label for="password">
                                        <%= __('login.form.enter_password') %>
                                    </label>
                            </div>
                        </div>

                        <div class="row">
                            <div class="input-field col s12 animate-show" ng-show="user.need_account">
                                <i class="mdi-action-done prefix"></i>
                                <input id="confirm_password"
                                       name="confirm_password"
                                       ng-model="user.confirm"
                                       ng-class="{ 
                                            invalid: ( 
                                                        user.confirm &&
                                                        (
                                                            user.confirm !== user.password ||
                                                            user.confirm.length < 6
                                                        )
                                                    ),
                                            valid: ( 
                                                        user.confirm === user.password &&
                                                        user.confirm.length >= 6
                                                    )
                                       }"
                                       ng-change="reset()"
                                       ng-disabled="request_send"
                                       type="password"
                                       required>

                                <label for="confirm_password">
                                    <%= __('login.form.confirm_password') %>
                                </label>

                            </div>
                        </div>

                        <div class="row">
                            <div class="input-field col s12" style="margin-top:0; margin-bottom: 10px">
                                <div class="checkbox-item">
                                  <input id="checkbox-login"
                                         name="cgu"
                                         ng-model="cgu"
                                         ng-disabled="request_send"
                                         type="checkbox">

                                  <label for="checkbox-login">
                                      <%- __('login.form.accept_cgu') %>
                                  </label>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="input-field col s12">
                                <div class="connexion-btn">
                                    <a class="waves-effect waves-light btn" ng-class="{
                                            disabled:        disabled(),
                                       }"
                                       ng-click="processed()">
                                       <i class="mdi-action-lock-open right"></i>{{
                                            user.need_account ?
                                            "<%= __('login.form.register') %>" :
                                            "<%= __('login.form.connection') %>"
                                        }}
                                    </a>
                                </div>
                            </div>
                        </div>

                        <% //'Progressbar' %>

                        <div class="overflow" ng-show="request_send">

                            <div class="full-height valign-wrapper">
                                <div class="valign">

                                    <div class="preloader-wrapper big active">

                                        <div class="spinner-layer spinner-blue">
                                            <div class="circle-clipper left">
                                                <div class="circle"></div>
                                                </div><div class="gap-patch">
                                                <div class="circle"></div>
                                                </div><div class="circle-clipper right">
                                                <div class="circle"></div>
                                            </div>
                                        </div>

                                        <div class="spinner-layer spinner-red">
                                            <div class="circle-clipper left">
                                                <div class="circle"></div>
                                                </div><div class="gap-patch">
                                                <div class="circle"></div>
                                                </div><div class="circle-clipper right">
                                                <div class="circle"></div>
                                            </div>
                                        </div>

                                        <div class="spinner-layer spinner-yellow">
                                            <div class="circle-clipper left">
                                                <div class="circle"></div>
                                                </div><div class="gap-patch">
                                                <div class="circle"></div>
                                                </div><div class="circle-clipper right">
                                                <div class="circle"></div>
                                            </div>
                                        </div>

                                        <div class="spinner-layer spinner-green">
                                            <div class="circle-clipper left">
                                                <div class="circle"></div>
                                                </div><div class="gap-patch">
                                                <div class="circle"></div>
                                                </div><div class="circle-clipper right">
                                                <div class="circle"></div>
                                            </div>
                                        </div>

                                    </div>

                                </div>
                            </div>

                        </div>

                    </form>

                </div>
            </div>
        </div>
    </div>

    <div class="login-powered hide-on-small-only">
        <% if( logo ) { %>
            <img src="<%= logo %>" class="login-logo" />
        <% } %> 
        <span> 
            Powered by 
            <img src="/images/logolight.png" class="login-logo" />
        </span>
    </div>

    <div id="modal-cgu" class="modal" ng-show="showcgu" ng-init="showcgu=false">
      <h4><%= __('login.form.cgu') %></h4>
      <p>
        Version du 6 octobre 2014<br><br>

        <h6><b>Préambule</b></h6><br>

        Les présentes conditions générales d’utilisation (CGU) régissent les conditions d’utilisation des
        logiciels proposés par la société ITEvents.<br><br>
        Les CGU sont mises à la disposition des Utilisateurs sur le site internet et sur les applications
        Mobile où elles sont directement consultables. Elles peuvent également leur être communiquées
        sur demande.<br><br>
        L’Utilisateur déclare avoir pris connaissance et accepté les présentes CGU avant d’accepter toute
        Offre. Les CGU applicables sont celles en vigueur sur le site internet et les applications Mobile.<br><br>
        Le fait que ITEvents ne se prévale pas à un moment donné de l’une des quelconques
        dispositions des CGU ne peut être interprété comme valant renonciation à se prévaloir
        ultérieurement de l’une des quelconques desdites conditions.<br><br>

        <h6><b>Article 1 – Conditions d’inscription et compte Utilisateur</b></h6><br>

        Pour pouvoir utiliser l’Application Mobile et profiter des services proposés par ITEvents,
        l’Utilisateur devra s’inscrire et créer un compte Utilisateur.
        Ce compte utilisateur peut-être soit : <br><br>
        &nbsp; &nbsp; - « classique », avec votre adresse mail, nom, prénom et société… accompagné de vos
        &nbsp; &nbsp; préférences de personnalisation (avatar, couleur de votre fond, pseudonyme).<br>
        &nbsp; &nbsp; - « anonyme », avec simplement le choix d’un pseudonyme.<br><br>
        Le mode classique vous permet de retrouver toutes vos préférences lors d’une prochaine session
        ITEvents, et vous permet également, selon les autorisations accordées par votre société, de vous
        permettre de vous envoyer facilement sur l’adresse mail que vous avez déclarée, les messages
        que vous souhaitez.<br><br>
        A contrario, le mode anonyme vous garantit parfaitement votre anonymat, mais ne vous permet
        pas l’envoi de mails.<br><br>
        L’utilisation des données à caractère personnel des Utilisateurs est régie par l’article 8 des CGU.Tout Utilisateur ne remplissant pas les conditions prévues dans les CGU se verra interdire l’accès et l’utilisation de l’Application. ITEvents se reserve le droit de suspendre temporairement
        ou définitivement le compte de tout Utilisateur<br><br>
        L’Utilisateur reconnait et accepte de garder confidentiel le login et le mot de passe permettant un
        accès à son compte. Le login et le mot de passe sont personnels et ne doivent pas être partagés
        ni transférés à une quelconque personne physique ou morale, sous quelque forme que ce soit,
        sans le consentement écrit et préalable de ITEvents.<br><br>
        L’Utilisateur est seul responsable de son compte et de l’utilisation qu’il en fait.<br><br>

        <h6><b>Article 2 – Les fonctionnalités</b></h6><br>

        Les fonctionnalités disponibles sont accessibles sur l’Application Mobile. Les fonctionnalités sont
        régulièrement mises à jour, et sont ouvertes selon les souhaits de la société organisant le
        séminaire ou événementiel. ITEvents se réserve la possibilité de modifier la liste et le contenu
        des Offres à tout moment.<br><br>

        <h6><b>Article 3 – Utilisation d’une fonctionnalité</b></h6><br>

        L’utilisateur ne peut utiliser qu’une seule fonctionnalité à la fois.
        Le choix entre celles-ci est libre pendant toute la durée du séminaire ou événementiel. Un rappel
        du scénari choisi par la société organisatrice est rappelé en bas à gauche de l’écran.<br><br>

        <h6><b>Article 4 – Facture et paiement</b></h6><br>

        L’utilisation de la solution ITEvents est libre de tout droits dans le cadre d’un séminaire ou d’un
        événementiel par la société organisatrice.<br><br>
        Il n’y aura donc pas de facturation ou de frais à la charge des utilisateurs.<br>
        L’utilisation de la solution ITEvents repose sur une connectivité WiFi et/ou Internet qui sera à
        votre disposition depuis le site où vous vous connectez.<br><br>
        Dans le cadre d’une utilisation avec une connexion téléphonique GSM, les éventuels frais de
        télétransmission de données resteront à votre charge, et seront intégrés dans votre forfait
        téléphonique. ITEvents n’utilisant pas de numéros surtaxés pour les communications GSM,
        seules les transmissions Data sont à prendre en compte selon les conditions de votre forfait
        téléphonique.<br><br>
        
        <h6><b>Article 5 – Relations entre les parties</b></h6><br>

        ITEvents d’une part et les Utilisateurs d’autre part sont des parties respectivement 
        indépendantes, chacune agissant en son nom et pour son propre compte, sous réserves des
        strictes prérogatives confiées à ITEvents au titre des CGU.<br><br>
        Les CGU ne créent aucun lien de subordination, société en participation, entreprise commune, de
        relations employeur/employé ou franchiseur/franchisé entre ITEvents et les Utilisateurs. Les
        Utilisateurs acceptent les Offres en toute indépendance.<br><br>
        L’Utilisateur reconnait de ne pas faire des Offres la source de son activité principale.<br><br>

        <h6><b>Article 6 – Responsabilité</b></h6><br>

        ITEvents se réserve le droit, à tout moment, de modifier ou interrompre son Application Mobile
        sans que sa responsabilité ne puisse être engagée.<br><br>
        L’Utilisateur devra disposer des compétences et du matériel requis pour l’utilisation de
        l’Application Mobile. ITEvents ne saurait être tenu responsable en cas de mauvais
        fonctionnement de son Application Mobile.<br><br>
        L’Utilisateur accepte en utilisant l’Application Mobile tous les risques et les caractéristiques
        propres à l’utilisation de smartphone ou de tablettes et d’internet, en particulier les délais de
        transmission, erreurs techniques et risque de piratage. ITEvents n’est pas responsable des coûts
        téléphoniques et/ou coûts de transmission des Produits.<br><br>
        ITEvents n’assume aucune responsabilité pour les dommages qui pourraient être causés au
        matériel informatique/smartphone des Utilisateurs.<br><br>
        Les Produits sont obtenus par les Utilisateurs sous leur seule responsabilité.<br>
        La responsabilité de ITEvents ne saurait être engagée en cas d’inexécution de l’Offre du fait d’un
        tiers, en cas de force majeure telle que définie par les tribunaux français, et d’une manière
        générale tous événements extérieurs ne permettant pas la bonne exécution de la commande.<br><br>
        
        <h6><b>Article 7 – Droits de propriété intellectuelle</b></h6><br>

        L’ensemble des éléments figurant sur le site et l’Application Mobile sont protégés par la
        législation française sur le droit d’auteur, droit à l’image et/ou droit des marques. Vous ne pouvez
        en aucun cas utiliser, distribuer, copier, reproduire, modifier, dénaturer ou transmettre le site ou
        certains de ses éléments sans l’autorisation écrite préalable de ITEvents.<br><br>
        Aucun droit ou licence ne saurait être attribué sur l’un quelconque de ces éléments sans
        l’autorisation écrite expresse de ITEvents. Le Vendeur se réserve le droit de poursuivre toute
        action en contrefaçon de ses droits de propriété intellectuelle.<br><br>

        <h6><b>Article 8 – Données à caractère personnel</b></h6><br>

        ITEvents s’engage à protéger les données à caractère personnel communiquées par les
        Utilisateurs lors de l’inscription. Les fichiers comportant des données à caractère personnel ont
        fait l’objet d’une déclaration à la CNIL.<br><br>
        Conformément aux dispositions de la loi n° 78-17 du 6 janvier 1978 telle que modifiée par la loi
        n°2004-801 du 6 août 2004 dite “Informatique et Libertés”, sous réserve de justifier de votre
        identité, tout Utilisateur, quelque soit sa nationalité, dispose du droit de demander à ce que les
        données à caractère personnel le concernant soient rectifiées, complétées, mises à jour,
        verrouillées ou effacées si ces données sont inexactes, incomplètes, équivoques, périmées, ou si
        la collecte, l’utilisation, la communication ou la conservation de ces données est interdite.<br><br>
        
        <h6><b>Article 9 – Liens hypertextes</b></h6><br>

        ITEvents peut proposer des liens depuis son site ou son Application Mobile vers d’autres sites du
        même groupe ou des sites indépendants. Ces sites indépendants ne sont ni édités, ni contrôlés
        par ITEvents et ne constituent, en aucun cas, une approbation ou un partenariat. ITEvents ne
        saurait dès lors être responsable de leurs contenus, leurs produits, leurs publicités ou tous
        éléments ou services présentés sur ces sites.<br><br>
        
        <h6><b>Article 10 – Droit applicable – Litige</b></h6><br>

        Toutes les dispositions contractuelles définies ci-dessus sont régies par le droit français. Tous
        litiges afférents aux CGU relèvent de la compétence du tribunal de commerce de Paris.
      </p>
      <div class="action-bar">
        <a href="#" class="waves-effect waves-green btn pull-right" ng-click="showcgu=false">OK</a>
      </div>
    </div>

</div>
